@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(
    45deg,
    rgba(235, 164, 112, 1) 0%,
    rgba(191, 110, 97, 1) 35%,
    rgba(10, 25, 38, 1) 100%
  );
  background-image: ("../src/assets/bg-image-mountains.svg");
  overflow: hidden;
  font-family: "Lato", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }


    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
} 